In [2]:
import pandas as pd
import numpy as np

# reading in the CSV files as Pandas dataframes
df_train = pd.read_csv('vizwiz_skill_typ_train.csv', skipinitialspace = True, engine='python')
df_val = pd.read_csv('vizwiz_skill_typ_val.csv', skipinitialspace = True, engine='python')

df_train_features = pd.read_csv('vizwiz_features_train.csv', skipinitialspace = True, engine='python')
df_val_features = pd.read_csv('vizwiz_features_val.csv', skipinitialspace = True, engine='python')

In [6]:
df_train.columns

Index(['QID', 'IMG', 'QSN', 'ANS_TYP', 'TXT', 'OBJ', 'COL', 'CNT', 'OTH',
       'ANS1', 'ANS2', 'ANS3', 'ANS4', 'ANS5', 'ANS6', 'ANS7', 'ANS8', 'ANS9',
       'ANS10'],
      dtype='object')

In [7]:
df_train.sample(1)

,QID,IMG,QSN,ANS_TYP,TXT,OBJ,COL,CNT,OTH,ANS1,ANS2,ANS3,ANS4,ANS5,ANS6,ANS7,ANS8,ANS9,ANS10
8263,VizWiz_train_000000011587.jpg,VizWiz_train_000000011587.jpg,What color is this shirt?,other,0,1,1,0,0,shirt,pink,hot pink,red,pink,pink,maroon,maroon,pink,pink

In [28]:
# check class distributions
target_classes = ['TXT', 'OBJ', 'COL', 'CNT', 'OTH']
class_dist = []
for skill in target_classes:
    percent = len(df_train.loc[df_train[skill] == 1])/len(df_train)
    temp = {'skill': skill, '% of true': percent}
    class_dist.append(temp)
class_dist = pd.DataFrame(class_dist)
class_dist

   % of true skill
0   0.561847   TXT
1   0.984652   OBJ
2   0.379564   COL
3   0.036513   CNT
4   0.001542   OTH

In [19]:
df_train[['TXT', 'OBJ', 'COL', 'CNT', 'OTH']].corr()

          TXT       OBJ       COL       CNT       OTH
TXT  1.000000  0.031074 -0.479960  0.094344 -0.019298
OBJ  0.031074  1.000000 -0.035096  0.006068  0.004906
COL -0.479960 -0.035096  1.000000 -0.106065 -0.016013
CNT  0.094344  0.006068 -0.106065  1.000000 -0.007650
OTH -0.019298  0.004906 -0.016013 -0.007650  1.000000