In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from util import *

In [7]:
# this block of codes comes from Nilavra Bhattacharya, 
# http://nbviewer.jupyter.org/urls/ivc.ischool.utexas.edu/VizWiz/extn/tutorial_skill_type.ipynb

df_train = pd.read_csv('../vizwiz_skill_typ_train.csv', skipinitialspace = True, engine='python')
df_val = pd.read_csv('../vizwiz_skill_typ_val.csv', skipinitialspace = True, engine='python')

df_train_features = pd.read_csv('../vizwiz_features_train.csv', skipinitialspace = True, engine='python')
df_val_features = pd.read_csv('../vizwiz_features_val.csv', skipinitialspace = True, engine='python')

In [4]:
# check class distributions
target_classes = ['TXT', 'OBJ', 'COL', 'CNT', 'OTH']
class_dist = []
for skill in target_classes:
    percent = len(df_train.loc[df_train[skill] == 1])/len(df_train)
    temp = {'skill': skill, '% of true': percent}
    class_dist.append(temp)
class_dist = pd.DataFrame(class_dist)
class_dist

   % of true skill
0   0.561847   TXT
1   0.984652   OBJ
2   0.379564   COL
3   0.036513   CNT
4   0.001542   OTH

In [5]:
# correlations: OBJ is correlated with COL
df_train[['TXT', 'OBJ', 'COL', 'CNT', 'OTH']].corr()

          TXT       OBJ       COL       CNT       OTH
TXT  1.000000  0.031074 -0.479960  0.094344 -0.019298
OBJ  0.031074  1.000000 -0.035096  0.006068  0.004906
COL -0.479960 -0.035096  1.000000 -0.106065 -0.016013
CNT  0.094344  0.006068 -0.106065  1.000000 -0.007650
OTH -0.019298  0.004906 -0.016013 -0.007650  1.000000

In [ ]:
visual_features_train = aggregate_visual_features(cv_key=)

In [ ]:
# store a local csv file
visual_features_train.to_csv('visual_features_train.csv')